compiler/bin/
compiler/obj/
experiments/external/
experiments/data/
experiments/results/
Library/
Logs/
Packages/
ProjectSettings/
Temp/
UserSettings/
unity/com.chimera.splatpack/*.meta
unity/com.chimera.splatpack/**/*.meta
